* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #0d0d0d;
    background-size: auto;
    font-family: Arial;
  }
  
  .menu {
    background-color: #1a1a1a;
    height: 8vh;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
   list-style: none; 
   margin-top: 1.2%;
  }
  
  a {
    color: #1ba39c;
    text-decoration: none;
  }
  
  a:hover {
    border: solid 1px #1ba39c;
    color: #000000;
    background-color: #1ba39c;
  }
  span{
    color: #1ba39c;
  }
  span:hover{
    color: #1ba39c;
    background-color: #000000;
  }

  /*Texto Principal*/

  * {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    list-style: none;
    text-align: center;
    outline: none;
    border: none;
    padding: 0;
  }
  h1 {
    color: #1ba39c;
    font-size: 35px;
    margin: 20%;
    text-align: center;
  }
  
  /* */
  p {
    font-size: 15px;
    text-align: center;
    color: #1ba39c;
    margin-top: -20px;
  }